
@{
    ViewBag.Title = "Blog2";
    Layout = "~/Views/Shread/_LayoutBlog.cshtml";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--<section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Blog</li>
                </ol>
            </div>

        </div>
    </section>-->
    <!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/Content/assets2/img/blog/ücretsizefaturanasılkullanılırblog.jpg" alt="dijital dönüşüm" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                @*<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/Efatura/EFatura_Nedir" target="_blank">John Doe</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/Efatura/EFatura_Nedir" target="_blank"><time datetime="2020-01-01">09.05.2021</time></a></li>
                                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/Efatura/EFatura_Nedir" target="_blank">12 Comments</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="/Efatura/EFatura_Nedir" target="_blank"><time datetime="4dk">Okuma Süresi: 4dk</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                <!--1.Yazı-->
                                Ücretsiz e-Fatura Kullanımına ilişkin yöntemleri derlediğimiz yazımızda tüm detayları ve yöntemleri bulabileceksiniz.
                            </p>
                            <div class="read-more">
                                <a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir" target="_blank">Devamını Oku</a>
                            </div>
                        </div>

                    </article>
                    <!--<!--2.YAZI-->
                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/Content/assets2/img/blog/onmuhasebeimg.jpg" alt="efatura platformu" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/Efatura/On_Muhasebe_Nedir" target="_blank">Ön Muhasebe Nedir?</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                
                                
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/Efatura/On_Muhasebe_Nedir" target="_blank"><time datetime="2020-01-01">02.06.2021</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="/Efatura/On_Muhasebe_Nedir" target="_blank"><time datetime="4dk">Okuma Süresi: 4dk</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                <!--2.Yazı-->
                                Ön Muhasebe, genel muhasebenin ilk adımıdır.
                                Ön muhasebe bir işletmenin mali yönetimini sağlayan her türlü bilginin işlenmesi ve takip edilmesidir. 
                                Derlediğimiz yazımızda tüm detayları bulabileceksiniz.

                            </p>
                            <div class="read-more">
                                <a href="/Efatura/On_Muhasebe_Nedir" target="_blank">Devamını Oku</a>
                            </div>
                        </div>

                    </article>
                    <!-- End blog entry -->

                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="/Efatura/Blog" target="_blank">1</a></li>
                            <li class="active"><a href="/Efatura/Blog2" target="_blank">2</a></li>
                            <li><a href="/Efatura/Blog3" target="_blank">3</a></li>
                            @*<li><a href="#">3</a></li>*@
                        </ul>
                    </div>

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        @*<h3 class="sidebar-title">Ara</h3>
                            <div class="sidebar-item search-form">
                                <form action="">
                                    <input type="text">
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div>*@
                        <!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">E-Fatura <span>(3)</span></a></li>
                                <li><a href="#">Muhasebe <span>(1)</span></a></li>
                                <li><a href="#">Ön Muhasebe <span>(1)</span></a></li>
                                <li><a href="#">E-Arşiv <span>(1)</span></a></li>
                                <li><a href="#">E-İrsaliye <span>(1)</span></a></li>
                                @*<li><a href="#">Educaion <span>(14)</span></a></li>*@
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="~/Content/assets2/img/blog/efaturayageciszorunlulugublog.jpg" alt="efatura sorgulama">
                                <h4><a href="/EFatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">E-Fatura Geçiş Zorunluluğu</a></h4>
                                <time datetime="2020-01-01">20.05.2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/Content/assets2/img/blog/efaturanedirblogbannerson.jpg" alt="efatura gib">
                                <h4><a href="/Efatura/EFatura_Nedir" target="_blank">E-Fatura Nedir? Avantajları Nelerdir?</a></h4>
                                <time datetime="2020-01-01">01.04.2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/Content/assets2/img/blog/ücretsizefaturanasılkullanılırblog.jpg" alt="efatura portal">
                                <h4><a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>
                                <time datetime="2020-01-01">09.05.2021</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/Content/assets2/img/blog/onmuhasebeimg.jpg" alt="efatura arşiv başvuru">
                                <h4><a href="/Efatura/On_Muhasebe_Nedir" target="_blank">Ön Muhasebe Nedir?</a></h4>
                                <time datetime="2020-01-01">02.06.2021</time>
                            </div>

                           
                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="/Efatura/Blog">Efatura</a></li>
                                <li><a href="/Efatura/Blog">Ön Muhasebe</a></li>
                                <li><a href="/Efatura/Blog">E-İrsaliye</a></li>
                                <li><a href="/Efatura/Blog">Muhasebe</a></li>
                                <li><a href="/Efatura/Blog">E-Arşiv</a></li>
                                <li><a href="/Efatura/Blog">E-Defter</a></li>
                                @*<li><a href="#">Creative</a></li>
                                    <li><a href="#">Studio</a></li>
                                    <li><a href="#">Smart</a></li>
                                    <li><a href="#">Tips</a></li>
                                    <li><a href="#">Marketing</a></li>*@
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
