
@{
    ViewBag.Title = "Kampanyalar";
    Layout = "~/Views/Shread/_Layout.cshtml";
}


    <div style="width: 100%; background-size: cover; margin-top: 1em;" >
        <img src="~/Content/img/benimfaturayenikampanya.png" alt="efatura kampanyaları" style="width:100%">
        </div>

    <!--başlık-->
    <!--<div class="container" id="baslik">
        <table class="table" ; style="margin-top:10px">
            <thead>
                <tr style="background-color:#6ebd8d">
                    <th>
                        Ömür boyu ücretsiz kullanabileceğiniz e-fatura platformu üzerinden 01.07.2021'e kadar ücretsiz ve sınırsız fatura kesebileceksiniz.
                        <br />    01.07.2021 itibari ile aşağıdaki kampanyalardan faydalanmak icin bizleri aramanız yeterli.
                    </th>
                </tr>
            </thead>
        </table>
    </div>-->
    <!--KAMPANYA-->
    <!--<div id="kampanya">
        <div class="kampanya-title">
            <p style="color:#c00f1a">AYLIK BAREM LİSTESİ</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr style="background-color:#5786b4; color:white">

                                <th>Adet/Ay</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-secondary">

                                <td>50</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>100</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>200</td>

                            <tr class="table-secondary">

                                <td>500</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>1000</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>1.500</td>

                            <tr class="table-secondary">

                                <td>2.000</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>5.000</td>

                            </tr>

                        </tbody>
                    </table>
                </div>


                <div class="col">
                    <table class="table">
                        <thead>
                            <tr style="background-color:#5786b4; color:white">

                                <th>Kampanyalı Fiyat</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-secondary">

                                <td>17 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>26 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>44 TL</td>

                            <tr class="table-secondary">

                                <td>99 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>195 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>275 TL</td>

                            <tr class="table-secondary">

                                <td>350 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>800 TL</td>

                            </tr>

                        </tbody>
                    </table>


                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr style="background-color:#5786b4; color:white">

                                <th>İlave Birim Fiyat</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-secondary">

                                <td>0,45 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>0,35 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>0,30 TL</td>

                            <tr class="table-secondary">

                                <td>0,30 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>0,30 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>0,30 TL</td>

                            <tr class="table-secondary">

                                <td>0,30 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>0,30 TL</td>

                            </tr>

                        </tbody>
                    </table>


                </div>



            </div>

        </div>
    </div>-->
    <!--kampanya2-->
    <!--<div id="kampanya">
        <div class="kampanya-title">
            <p style="color:#c00f1a">YILLIK TOPLU KONTÖR LİSTESİ</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr style="background-color:#5786b4; color:white">

                                <th>Adet/Yıl</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-secondary">

                                <td>500</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>1.000</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>2.500</td>

                            <tr class="table-secondary">

                                <td>5.000</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>7.500</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>10.000</td>

                            <tr class="table-secondary">

                                <td>25.000</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>50.000</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>100.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col">
                    <table class="table">
                        <thead>
                            <tr style="background-color:#5786b4; color:white">

                                <th>Kampanyalı Fiyat</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-secondary">

                                <td>375 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>600 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>1.375 TL</td>

                            <tr class="table-secondary">

                                <td>2.500 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>3.375 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>4.000 TL</td>

                            <tr class="table-secondary">

                                <td>8.750 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>12.500 TL</td>

                            </tr>
                            <tr class="table-secondary">

                                <td>19.500 TL</td>

                            </tr>
                        </tbody>
                    </table>


                </div>




            </div>

        </div>
    </div>-->
    <div class="container">
        <div class="kampanya-aciklama">
            <p style="color:black"> Açıklamalar:</p>
        </div>
        <div class="list" ; style="color:black">
            <ul>
                <li>Fiyatlara KDV dahil değildir.</li>
                <li>Fiyatlar 1 yıllık sözleşme için geçerlidir.</li>
                <li>Fiyatlara saklama ücreti dahildir.</li>
                <li>Faturalandırma paket türüne göre aylık periyodlarla yapılmaktadır.</li>
                <li>Kampanyadan yararlanmak için programın satın alındığı tarihten itibaren 1 ay içerisinde aktivasyon yapılması gerekir.</li>
                <li>Hediye verilen kontör E-fatura, E-arşiv ve E-irsaliye için geçerlidir.</li>
                <li>Kampanya kapsamında ücretsiz 6 ay boyunca sınırsız e-belge oluşturulabilir.</li>
                <li>Benimfatura kampanya şartlarını değiştirme hakkını saklı tutar.</li>
                <li>Kampanya kapsamındaki hediye kullanım süresi bittiğinde kullanıcı kendisine uygun aylık kontör miktarını seçerek dilediği E-fatura/E-arşiv paketini satın alabilir. </li>
            </ul>
        </div>
    </div>
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">

                <form action="" method="post" role="form" class="php-email-form">
                    <div class="text-center" style="margin-top:10px; margin-bottom:20px"><h2 style="color: black">SİZE ULAŞALIM</h2></div>
                </form>
            </div>
            <center>
                <form action="forms/contact.php" method="post" role="form" class="php-email-form col-lg-10">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="ad" style="border:2px solid #ced4da;" class="form-control" ; id="ad" placeholder="Adınız Soyadınız:" data-rule="minlen:4" data-msg="Lütfen Boş Bırakmayınız.">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" style="border:2px solid #ced4da;" name="email" id="email" placeholder="E-Mail Adresiniz:" data-rule="email" data-msg="Lütfen Boş Bırakmayınız.">
                        </div>
                    </div>

                    <div class="text-center" style="margin-top:30px"><button type="button" class="btn btn-success" style="background-color: #5C9F24">Gönder</button></div>
                </form>
            </center>
            <div class="row contact-info">


                <h2 style="margin-top:40px; color: black">BİZE ULAŞIN</h2>

                <div class="col-md-6">
                    <div class="contact-phone">
                        <i class="bi bi-phone" alt="Benim fatura iletişim" style="color: #5C9F24"></i>
                        <h3 style="color: #5C9F24">Telefon Numaramız    </h3>
                        <p><a href="tel:+908506110645" ; style="color:black">0 850 611 06 45</a></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-email">
                        <i class="bi bi-envelope" alt="Benim fatura bilgi" style="color: #5C9F24"></i>
                        <h3 style="color: #5C9F24">EMAİL ADRESİMİZ</h3>
                        <p><a href="mailto:bilgi@benimfatura.com" ; style="color:black">bilgi@benimfatura.com</a></p>
                    </div>
                </div>

            </div>


        </div>


    </section><!-- End Contact Section -->
    @section KampanyalarScript{
        <script>
        $("form button.btn").on("click", function () {

            let mail = {
                "ad": $("input#ad").val(),
                "email": $("input#email").val(),
                "telefon": $("input#telefon").val(),
                "konu": $("input#konu").val(),
                "mesaj": $("textarea#mesaj").val(),
            };

            toastr.success("Başarıyla mail gönderdiniz.")
            $.ajax({
                url: "@Url.Action("index","Efatura")",
                type: "post",
                dataType: "JSON",
                data: mail,
                success: function (res) {
                    console.log(res)
                    if (res.IsSuccess) {

                    } else { }
                    for (var i = 0; i < 4; i++) {
                        $("form")[i].reset()
                    }
                },
                error: function () {

                }
            });

            return false;
        })
        </script>
    }
