
@{
    ViewBag.Title = "KVKK";
    Layout = "~/Views/Shread/_Layout.cshtml";
}

<div class="container">
    <div class="kampanya-aciklama">
        <p style="color:#c00f1a;font-size:25px">BENİM FATURA ÇEREZ POLİTİKASI</p>
    </div>
    <div class="list" ; style="color:#373737">
        <ul>
            <li>Benim Fatura Hizmetleri tarafından hazırlanmıştır ve benimfatura.com Gizlilik Politikası'nın ekini oluşturmaktadır.</li>
            <li>
                Birçok web sitesi gibi, benimfatura.com'da da ziyaretçilere kişisel içerik ve reklamlar göstermek, Portal üzerinde trafik analizi gerçekleştirmek
                ve ziyaretçi kullanım alışkanlıklarını anlamak amacıyla Çerezler kullanılmaktadır
                (Portal'da kullanılan çerez türleri ve kullanım amaçları için bkz. [Hangi Çerezler Kullanılmaktadır?]).
            </li>
            <li>
                Benim Fatura, %100 yerli ve milli imkânlarla geliştirdiği programlarıyla KOBİ'lerin finansal süreçlerini, gelir giderlerini daha etkin,
                daha kolay ve daha güvenli şekilde yönetmelerini sağlamaktadır.
                Benim Fatura'nın geliştirdiği e-dönüşüm (e-fatura, e-arşiv fatura, e-irsaliye, e-müstahsil) programı,
                personel takip programı, pazar yeri entegrasyonu ve teknik servis programı geliştirerek kullanıcılarına sunmuştur.
                Benim Fatura, bugüne kadar elde ettiği yetenek ve tecrübeleri bugünün trendleri ile birleştirerek,
                kullanıcılarına yenilikçi çözümler sunmaya devam edecektir.
            </li>
            <li>Faturalandırma paket türüne göre aylık veya yıllık periyodlarla yapılmaktadır.</li>
            <li>Fatura adetleri üst limit olarak belirlenmiş olup limitlerin aşılması halinde ilave birim fiyat ile ücretlendirilir.</li>
        </ul>
    </div>

    <div class="kampanya-aciklama">
        <p style="color:#c00f1a;font-size:16px"> ÇEREZ ("COOKİE") NEDİR?</p>
    </div>
    <div class="list" ; style="color:#373737">
        <ul>
            <li>
                Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla bilgisayarınıza
                (ya da akıllı telefon veya tablet gibi diğer cihazlarınıza) kaydedilen ve genelde harf ve rakamlardan oluşan
                çok küçük metin dosyalarıdır. Çerezler, ziyaretçilere ilişkin isim, cinsiyet veya adres gibi kişisel verileri içermezler.
                Çerezler, ziyaret ettiğiniz web sitesini yöneten sunucular tarafından oluşturulurlar. Böylelikle ziyaretçi aynı siteyi
                ziyaret ettiğinde sunucu bunu anlayabilir.
                Çerezler, web sitesi sahiplerine aynı ziyaretçinin siteyi yeniden ziyaret ettiğini gösteren kimlik kartlarına benzetilebilir.
                Çerezler konusundan daha detaylı bilgi için www.aboutcookies.org ve www.allaboutcookies.org adreslerini ziyaret edebilirisiniz.
            </li>
        </ul>
    </div>

    <div class="kampanya-aciklama">
        <p style="color:#c00f1a;font-size:16px"> HANGİ ÇEREZLER KULLANILMAKTADIR?</p>
    </div>
    <div class="list" ; style="color:#373737">
        <ul>
            <li>
                Benimfatura.com Çerez Politikası Benim Fatura Efatura Hizmetleri tarafından hazırlanmıştır ve benimfatura.com
                Gizlilik Politikası'nın ekini oluşturmaktadır.
            </li>

        </ul>
    </div>

    <div class="kampanya-aciklama">
        <p style="color:#c00f1a;font-size:16px"> Çerezler Neden Kullanılmaktadır?</p>
    </div>
    <div class="list" ; style="color:#373737">
        <ul>
            <li>
                Portal da, Çerezler aşağıdaki amaçlar kapsamında kullanılmaktadır: Portal'ın çalışması için gerekli temel fonksiyonları gerçekleştirmek.
                Örneğin, Portal üyelerinin, üyelik bilgileriyle giriş yapabilmesi. Portal'ı analiz etmek ve Portal'ın performansını arttırmak.
                Örneğin, Portal'ı ziyaret edenlerin sayısının tespit edilmesi ve buna göre performans ayarlarının yapılması ya da ziyaretçilerin
                aradıklarını bulmalarının kolaylaştırılması. Portal'ın işlevselliğini arttırmak ve kullanım kolaylığı sağlamak.
                Örneğin, Portal'ı ziyaret eden ziyaretçinin daha sonraki ziyaretinde kullanıcı adı bilgisinin ya da arama sorgularının
                hatırlanması veya Portal üzerinden üçüncü taraf sosyal medya faaliyetlerine bağlantı sağlamak. Kişiselleştirme, hedefleme
                ve reklamcılık faaliyeti gerçekleştirmek. Örneğin, ziyaretçilerin görüntüledikleri sayfa ve ürünler üzerinden ziyaretçilerin
                ilgi alanlarıyla ilgili reklam gösterilmesi.

            </li>
        </ul>
    </div>
    <div class="kampanya-aciklama">
        <p style="color:#c00f1a;font-size:16px"> ÇEREZ TERCİHLERİ NASIL YÖNETİLİR?</p>
    </div>
    <div class="list" ; style="color:#373737">
        <ul>
            <li>
                Ziyaretçilerin kendilerine ait hangi kişisel verilerin toplanabildiği konusunda tercihlerini serbestçe kullanabilmesi
                Benim Fatura için son derece önemlidir. Bununla birlikte, Portal'ın çalışması için zorunlu olan Çerezler konusunda
                tercih yönetimi mümkün olamamaktadır.
                Ayrıca, bazı Çerezlerin kapatılması halinde Portal'ın çeşitli fonksiyonlarının çalışmayabileceğini hatırlatırız.
                Portal'da kullanılan Çerezlere dair tercihlerini ne şekilde yönetebileceğinize ilişkin bilgiler aşağıdaki gibidir:
                Ziyaretçiler, Portal'ı görüntüledikleri tarayıcı ayarlarını değiştirerek çerezlere ilişkin tercihlerini kişiselleştirme imkanına sahiptir.
                Eğer kullanılmakta olan tarayıcı bu imkânı sunmaktaysa, tarayıcı ayarları üzerinden Çerezlere ilişkin tercihleri değiştirmek mümkündür.
                Böylelikle, tarayıcının sunmuş olduğu imkanlara göre farklılık gösterebilmekle birlikte, veri sahiplerinin çerezlerin kullanılmasını
                engelleme, çerez kullanılmadan önce uyarı almayı tercih etme veya sadece bazı Çerezleri devre bırakma ya da silme imkanları bulunmaktadır.
                Bu konudaki tercihler kullanılan tarayıcıya göre değişiklik göstermekle birlikte genel açıklamaya https://www.aboutcookies.org/ adresinden
                ulaşmak mümkündür. Çerezlere ilişkin tercihlerin, ziyaretçinin Portal'a erişim sağladığı her bir cihaz özelinde ayrı ayrı yapılması gerekebilecektir.
                Google tarafından sağlanan kişiselleştirilmiş reklam deneyimini yönetmek için tıklayınız. Google Analytics tarafından yönetilen Çerezleri
                kapatmak için tıklayınız. Birçok firmanın reklam faaliyetleri için kullandığı çerezler bakımından tercihler Your Online Choices
                üzerinden yönetilebilir.
                Mobil cihazlar üzerinden Çerezleri yönetmek için mobil cihaza ait ayarlar menüsü kullanılabilir.


            </li>
        </ul>
    </div>
    <div class="kampanya-aciklama">
        <p style="color:#c00f1a;font-size:16px">ZİYARETÇİLER HANGİ HAKLARA SAHİP?</p>
    </div>
    <div class="list" ; style="color:#373737">
        <ul>
            <li>
                6698 Sayılı Kişisel Verilerin Korunması Kanunu'nun 11. maddesi uyarınca ziyaretçiler, Benim Fatura'ya başvurarak,
                kendileriyle ilgili, Kişisel veri işlenip işlenmediğini öğrenme,
                Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin
                kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen,
                işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme
                ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine
                bir sonucun ortaya çıkmasına itiraz etme,
                Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
                Söz konusu haklar, kişisel veri sahipleri tarafından yazılı olarak ya da kayıtlı elektronik posta adresi üzerinden iletildiğinde
                her hâlükârda 30 (otuz) gün içerisinde değerlendirilerek sonuçlandırılacaktır. Taleplere ilişkin olarak herhangi bir ücret talep
                edilmemesi esas olmakla birlikte, Benim Fatura, Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret tarifesi üzerinden
                ücret talep etme hakkını saklı tutar.


            </li>
        </ul>
    </div>
    <div class="kampanya-aciklama">
        <p style="color:#c00f1a;font-size:16px">RIZA VE POLİTİKALARDAKİ DEĞİŞİKLER</p>
    </div>
    <div class="list" ; style="color:#373737">
        <ul>
            <li>
                Benim Fatura, Politika ile ziyaretçilerine Çerez kullanımı konusunda detaylı açıklama sunmayı ve Çerez tercihleri konusunda bilgilendirmede bulunmayı hedeflemiştir.
                Bu bakımdan, Portal'da yer alan Çerez bilgilendirme uyarısının kapatılması ve Portal'ın kullanmaya devam edilmesi halinde Çerez kullanımına rıza verildiği kabul edilmektedir. Ziyaretçilerin Çerez tercihlerini değiştirme imkânı her zaman saklıdır.
                Benim Fatura, Politika hükümlerini dilediği zaman değiştirebilir. Güncel Politika Portal'da yayınlandığı tarihte yürürlük kazanır.

            </li>
        </ul>
    </div>

</div>
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">

            <form action="" method="post" role="form" class="php-email-form">
                <div class="text-center" style="margin-top:10px; margin-bottom:20px"><h2 style="color: #239d52">SİZE ULAŞALIM</h2></div>
            </form>
        </div>
        <center>
            <form method="post" role="form" class="php-email-form col-lg-10">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="ad" style="border:2px solid #ced4da;" class="form-control" ; id="ad" placeholder="Adınız Soyadınız:" data-rule="minlen:4" data-msg="Lütfen Boş Bırakmayınız.">
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" style="border:2px solid #ced4da;" name="email" id="email" placeholder="E-Mail Adresiniz:" data-rule="email" data-msg="Lütfen Boş Bırakmayınız.">
                    </div>
                </div>

                <div class="text-center" style="margin-top:30px"><button type="button" class="btn btn-success">Gönder</button></div>
            </form>
        </center>
        <div class="row contact-info">


            <h2 style="margin-top:40px; color: #239d52;font-weight:bolder">BİZE ULAŞIN</h2>

            <div class="col-md-6">
                <div class="contact-phone">
                    <i class="bi bi-phone" alt="Benim fatura bilgi" style="color:#5786b4"></i>
                    <h3 style="color:#5786b4">Telefon Numaramız</h3>
                    <p><a href="tel:+908506110645" ; style="color:seagreen">0850 611 06 45</a></p>
                </div>
               
            </div>
          
            <div class="col-md-6">
                <div class="contact-email">
                    <i class="bi bi-envelope" alt="Benim fatura destek" style="color:#5786b4"></i>
                    <h3 style="color:#5786b4">EMAİL ADRESİMİZ</h3>
                    <p><a href="mailto:bilgi@benimfatura.com" ; style="color:seagreen">bilgi@benimfatura.com</a></p>
                </div>
            </div>
            
        </div>


    </div>


</section><!-- End Contact Section -->
@section KVKKScript{
    <script>
        $("form button.btn").on("click", function () {

            let mail = {
                "ad": $("input#ad").val(),
                "email": $("input#email").val(),
                "telefon": $("input#telefon").val(),
                "konu": $("input#konu").val(),
                "mesaj": $("textarea#mesaj").val(),
            };

            toastr.success("Başarıyla mail gönderdiniz.")
            $.ajax({
                url: "@Url.Action("index","Efatura")",
                type: "post",
                dataType: "JSON",
                data: mail,
                success: function (res) {
                    console.log(res)
                    if (res.IsSuccess) {

                    } else { }
                    for (var i = 0; i < 4; i++) {
                        $("form")[i].reset()
                    }
                },
                error: function () {

                }
            });

            return false;
        })
    </script>
}